#### User configurable options #####

########################################################################### 
export I_MPI_CXX=dpcpp
MPI_HOME   		= /home/devcloud/intel/oneapi/mpi/2021.8.0/
LIB_LIST   		= -fopenmp
MPI_LIB    		= -L${MPI_HOME}/lib
MPI_INC    		= -I${MPI_HOME}/include
FLIBS      		= ${MPI_LIB} ${LIB_LIST} ${MPI_INC}
CPPC       		= ${MPI_HOME}/bin/mpiicpc
CPPLINKER  		= ${MPI_HOME}/bin/mpiicpc
FFLAGS     		= -g -O3 -std=c++17 -fsycl


#############################################################################

